<div class="row">
  <div class="col-md-12">
    <div class="productRow">
      <h2>{{item.title}}</h2>
      <p>{{item.price | currency}} <a href="{{item.url}}" target="_blank">View Listing</a></p>
      <img ng-src="{{item.img}}"/>
      <p>{{item.description}}</p>
      <h3>Materials</h3>
      <ul ng-repeat="material in item.materials">
        <li>{{material}}</li>
      </ul>
      <div class="form-group">
        <input class="form-control" type="number" name="qty" ng-model="item.qty" placeholder="Quantity">
        <button class="btn btn-primary" name="add" ng-click="addItem(item)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
